<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
        <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>ee461l.server.GreetingServiceImpl</servlet-class>
        </servlet>
  
        <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/findthetime/greet</url-pattern>
        </servlet-mapping>
 
        <servlet>
		<servlet-name>createGroup</servlet-name>
		<servlet-class>ee461l.CreateGroupServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>createGroup</servlet-name>
		<url-pattern>/createGroup</url-pattern>
     	</servlet-mapping>
  
        <servlet>
		<servlet-name>createAccount</servlet-name>
		<servlet-class>ee461l.CreateAccountServlet</servlet-class>
     	</servlet>
	    <servlet-mapping>
		<servlet-name>createAccount</servlet-name>
		<url-pattern>/createAccount</url-pattern>
	    </servlet-mapping>
	
	    <servlet>
		<servlet-name>joinGroup</servlet-name>
		<servlet-class>ee461l.joinGroupServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>joinGroup</servlet-name>
		<url-pattern>/joinGroup</url-pattern>
	    </servlet-mapping>
	
		  <servlet>
		  <servlet-name>delegateLeader</servlet-name>
		  <servlet-class>ee461l.LeaderDelegateServlet</servlet-class>
          </servlet>
	      <servlet-mapping>
		  <servlet-name>delegateLeader</servlet-name>
		  <url-pattern>/delegateLeader</url-pattern>
	      </servlet-mapping>
	
		  <servlet>
		  <servlet-name>leaveGroup</servlet-name>
		  <servlet-class>ee461l.LeaderKickServlet</servlet-class>
	      </servlet>
	      <servlet-mapping>
		  <servlet-name>leaveGroup</servlet-name>
		  <url-pattern>/leaveGroup</url-pattern>
	      </servlet-mapping>
	
		  <servlet>
		  <servlet-name>kickMember</servlet-name>
		  <servlet-class>ee461l.LeaderKickServlet</servlet-class>
	      </servlet>
	      <servlet-mapping>
	      <servlet-name>kickMember</servlet-name>
		  <url-pattern>/kickMember</url-pattern>
	      </servlet-mapping>
	
		  <servlet>
		  <servlet-name>disbandGroup</servlet-name>
		  <servlet-class>ee461l.LeaderDisbandServlet</servlet-class>
	      </servlet>
	      <servlet-mapping>
		  <servlet-name>disbandGroup</servlet-name>
		  <url-pattern>/disbandGroup</url-pattern>
	      </servlet-mapping>
	
	    <servlet>
		<servlet-name>runAlgorithm</servlet-name>
		<servlet-class>ee461l.AlgorithmServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
		<servlet-name>runAlgorithm</servlet-name>
		<url-pattern>/runAlgorithm</url-pattern>
	    </servlet-mapping>
	
	  <servlet>
		<servlet-name>createCal</servlet-name>
		<servlet-class>ee461l.CreateCalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createCal</servlet-name>
		<url-pattern>/createCal</url-pattern>
	</servlet-mapping>
  
	 	 <servlet>
		<servlet-name>deleteEvent</servlet-name>
		<servlet-class>ee461l.UpdateUserServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>deleteEvent</servlet-name>
		<url-pattern>/deleteEvent</url-pattern>
		</servlet-mapping>
		
		 <servlet>
		<servlet-name>addMember</servlet-name>
		<servlet-class>ee461l.AddMemberServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>addMember</servlet-name>
		<url-pattern>/addMember</url-pattern>
		</servlet-mapping>
		
		<servlet>
		<servlet-name>decrementDay</servlet-name>
		<servlet-class>ee461l.DecrementDayServlet</servlet-class>
		</servlet>
		<servlet-mapping>
		<servlet-name>decrementDay</servlet-name>
		<url-pattern>/decrementDay</url-pattern>
		</servlet-mapping>
		
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FindTheTime.jsp</welcome-file>
  </welcome-file-list>

</web-app>